<html>

<style type="text/css">

body { background-color: #1078E1; 
margin-top:100px;
margin-bottom:100px;
margin-right:100px;
margin-left:100px;
}

h1 { color: black; }

h1 { font-family: sans-serif; }
h2 { font-family: sans-serif; }
ul { font-family: sans-serif; }

h1 {margin: 5px; border: 1px solid black; } 

</style>
	<body>
		<h1>Add a task</h1>

		<form action="/add" method="POST">
			New task: <input type="text" name="task_description">
			<br />
			<input type="submit">
		</form>
	</body>
</html>