<html>

<style type="text/css">

body { background-color: #1078E1; 
margin-top:100px;
margin-bottom:100px;
margin-right:100px;
margin-left:100px;
}

h1 { color: black; text-align: center;}

h1 { font-family: sans-serif; }
h2 { font-family: sans-serif; }
ul { font-family: sans-serif; }

h1 {margin: 5px; border: 1px solid black; padding: 20px;} 

</style>

<body>

<h1>View and Edit Your Task</h1>

<form action="{{ url_for("edit_task", task_id=task.id) }}" method="POST">
			Edit task:
			<br/> "{{task.title}}" <input type="text" name="edited_task" value="{{task.title}}"> <br/>


	<input type="checkbox" name="complete" /> This task is completed!!!! :)
	<br />
	<input type="submit">
</form>



</body>

</html>